language: ruby
rvm:
  - 2.3.3

services:
  - docker
  - postgresql

before_script:
  - psql -c 'create database kingsly_test;' -U postgres
  - cp config/application.yml.ci config/application.yml
  - bundle exec rake db:create db:migrate

script:
  - bundle
  - bundle exec rspec

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - commit=$(git rev-parse HEAD)
  - docker build -t gojekfarm/kingsly:$commit -t gojekfarm/kingsly:latest .
  - docker push gojekfarm/kingsly:$commit
  - docker push gojekfarm/kingsly:latest
