AWS_ACCESS_KEY_ID: "access-id"
AWS_SECRET_ACCESS_KEY: "secret-access-key"
ACME_CLIENT_PRIVATE_KEY: "-----BEGIN RSA PRIVATE KEY-----\nMIIJ...-----END RSA PRIVATE KEY-----\n"
ACME_CLIENT_CONTACT: "mailto:abc@gmail.com"
ACME_CLIENT_DIR: "https://acme.letsencrypt/directory"
USERNAME: 'username'
PASSWORD: 'password'