AWS_ACCESS_KEY_ID: "access-id"
AWS_SECRET_ACCESS_KEY: "secret-access-key"
AWS_REGION: "ap-east-1"
ACME_CLIENT_PRIVATE_KEY: "-----BEGIN RSA PRIVATE KEY-----\nMIIJ...-----END RSA PRIVATE KEY-----\n"
ACME_CLIENT_CONTACT: "mailto:abc@gmail.com"
ACME_CLIENT_DIR: "https://acme.letsencrypt/directory"
USERNAME: 'username'
PASSWORD: 'password'
CERT_BUNDLE_RENEWAL_PERIOD_IN_SECONDS: '86400'
CERT_BUNDLE_EXPIRY_BUFFER_IN_DAYS: '14'
DB_HOST: 'localhost'
DB_NAME: 'kingsly_dev'
DB_USERNAME: 'postgres'
DB_PASWORD: ''
DB_CONN_POOL: '5'
DB_TIMEOUT: '5000'
ACME_KID: 'https://example.com/acme/acct/1'
