nav.navbar.navbar-inverse.navbar-fixed-top
  .container.navigation-bar
    .navbar-header
      = link_to 'Kingsly - The Cert Manager', root_path, {:style=>'color:#FFFFFF;font-size: 30px;',  class: "navbar-brand"}